{% extends 'blog/base.html' %}
{% block title %} Blog Categories - Yt2Phone {% endblock %}

{% block content %}
<h1>Blog Categories</h1>
{% for item in category_list %}
<div class="mt-10" style="margin-top: 10px;">
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item mt-10">
            <a class="dropdown-item" href="{% url 'category' item|slugify %}">{{item}}</a>
        </li>
    </ul>
</div>
</div>
{% endfor %}
{% endblock content %}